<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mais Vendidos</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Hambúrguer</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">O hambúrguer, é um preparado de carne temperada (principalmente de carne bovina, 
                            ocasionalmente de frango moído, carne suína moída, com misturas de carnes ou até vegetarianos) 
                            e moldada em formato circular.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Café</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">O café é uma bebida produzida a partir dos grãos torrados do fruto do cafeeiro. 
                            É servido tradicionalmente quente, mas também pode ser consumido gelado. O café é um estimulante, 
                            por possuir cafeína — geralmente 80 a 140 mg para cada 207 ml dependendo do método de preparação. 
                            Estudos têm mostrado que pessoas que bebem quatro xícaras de café por dia têm um menor 
                            risco de morrer de um ataque cardíaco.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Coxinha</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">A coxinha é um salgadinho brasileiro, de origem paulista,
                            também comum em Portugal, feito com massa de farinha de trigo e caldo de galinha,
                             que envolve um recheio elaborado com carne temperada de frango, queijo, 
                             calabresa ou vários outros tipos de sabores.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Torta de Limão</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Torta de limão é uma torta cozida no forno e recheada com um creme 
                            ]a base de limão. Sua origem é incerta, embora existam alguns relatos que indicam que tem origem 
                            no sul dos Estados Unidos ou na França.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Faça Parte
                        <br />
                        De Nossa
                        <br />
                        Cafeteria!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>